//regalia.palantircloud.com/artifacts/api/:_authToken=${FOUNDRY_TOKEN}
@defense-osdk:registry=https://regalia.palantircloud.com/artifacts/api/repositories/ri.artifacts.main.repository.5ee047f7-ef58-4746-ab9a-fc363e1ae8ed/contents/release/npm/